<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>GPX2Energy - calculate your EV power and energy needs</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
<h1>GPX2Energy - calculate your EV power and energy needs</h1>
<a href="http://github.com/filip-zyzniewski/falochod/tree/master/calculator">Source code</a>
<a href="manual">Instruction manual</a>
<table class="toplevel">
<tr>
<td class="side">
	<h2>Input</h2>
	<form name="gpx2energy" method="POST" enctype="multipart/form-data" action="{{ url_for('index') }}">
	<table>
	<tr>
		<td colspan="3"><h3>Vehicle data</h3></td>
	</tr><tr>
		<td colspan="2">Mass:</td><td><input type="text" name="mass" value="{{ car.mass }}"/> kg </td>
	</tr><tr>
		<td colspan="2">Frontal area:</td><td><input type="text" name="frontal_area" value="{{ car.frontal_area }}"/> m<sup>2</sup></td>
	</tr><tr>
		<td colspan="2">Drag coefficient:</td><td><input type="text" name="cx" value="{{ car.cx }}"/></td>
	</tr><tr>
		<td colspan="2">Rolling resistance coefficient:</td><td><input type="text" name="rrc" value="{{ car.rrc }}"/> kg/kg</td>
	</tr><tr>
		<td colspan="2">Power:</td><td><input type="text" name="power" value="{{ car.power/1000.0 }}"/> kW<a href="#badvalues">*</a></td>
	</tr><tr>
		<td colspan="2">Max speed:</td><td><input type="text" name="max_speed" value="{{ car.max_speed*3600/1000.0 }}"/> km/h<a href="#badvalues">*</a></td>
	</tr><tr>
		<td rowspan="4">Efficiency:</td><td>Gearbox:</td><td><input type="text" name="gearbox_efficiency" value="{{ car.gearbox_efficiency*100 }}"/> %</td>
	</tr><tr>
			<td>Motor:</td><td><input type="text" name="motor_efficiency" value="{{ car.motor_efficiency*100 }}"/> %</td>
	</tr><tr>
			<td>Controller:</td><td><input type="text" name="controller_efficiency" value="{{ car.controller_efficiency*100 }}"/> %</td>
	</tr><tr>
			<td>Battery pack:</td><td><input type="text" name="battery_pack_efficiency" value="{{ car.battery_pack_efficiency*100 }}"/> %</td>
	</tr><tr>
		<td colspan="3"><h3>Tracks</h3></td>
	</tr><tr>
		<td rowspan="2">GPX Files:</td><td>First:</td><td><input type="file" name="gpx1"/></td>
	</tr><tr>
		<td>Second:</td><td><input type="file" name="gpx2"/></td>
	</tr><tr>
		<td colspan="3"><input type="submit" name="submit" value="Upload"/></td>
	</tr>
	</table>
	</form>
</td>
<td class="side">
	<h2>Output</h2>
	{% if commute %}
		<table>
		{% for track in commute.tracks + [commute] %}
			<tr><td colspan="3"><h3>{{ getattr(track, 'filename', 'Total commute') }}</h3></td></tr>
			{% for stat, url, value, unit in stats2table(track.stats) %}
				<tr>
					<td>
						{% if url %}<a href="{{ url }}">{% endif %}
						{{ stat }}
						{% if url %}</a><a href="#links">**</a>{% endif %}
					</td>
					<td>{{ value }}</td>
					<td>{{ unit }}</td>
				</tr>
			{% endfor %}
		{% endfor %}
		</table>
	{% endif %}
</td>
</tr>
</table>
<p id="badvalues">
* Vehicle power and max speed are used to filter out bad points logged by the
GPS receiver.
</p>
<p id="links">
** Some value names are links - these links lead to google maps rendition
of the track fragment where the value has been achieved.
Note that peak values might be wrong because of low elevation resolution of GPS.
</p>
</body>
</html>
